<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Motor Anomaly Detection</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Upload Data for Anomaly Detection</h1>
        <form method="post" action="/upload" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">CSV File</label>
                <input type="file" class="form-control-file" id="file" name="data_file">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</body>
</html>
